<% cache columns do %>
  <%= turbo_frame_tag :cards_container do %>
    <div class="card-columns" data-controller="collapsible-columns">
      <div class="card-columns__left">
        <%= render "cards/index/engagement/on_deck", column: columns.on_deck %>
      </div>

      <%= render "cards/index/engagement/considering", column: columns.considering %>

      <div class="card-columns__right">
        <% if workflow = columns.user_filtering.single_collection.workflow %>
          <% workflow.stages.each do |stage| %>
            <%= render "cards/index/engagement/doing", column: columns.doing, stage: stage %>
          <% end %>
        <% else %>
          <%= render "cards/index/engagement/doing", column: columns.doing %>
        <% end %>

        <%= render "cards/index/engagement/closed", column: columns.closed %>

        <div class="position-relative" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
          <button class="btn btn--circle txt-x-small borderless" data-action="click->dialog#open:stop">
            <%= icon_tag "add", class: "translucent" %>
            <span class="for-screen-reader">Add a new column, etc.</span>
          </button>
          <dialog class="popup panel flex-column gap fill-white shadow txt-small margin-block-double" data-dialog-target="dialog">
            <input class="input" placeholder="Column name" />
            <button class="btn btn--link">Add a column</button>
          </dialog>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
