<h1 class="txt-large">
  <%= render "bubbles/filters/main", bucket: bucket %>
  in
  <%= render "bubbles/filters/bucket", bucket: bucket %>
</h1>

<h2 class="txt-medium flex align-center justify-center gap-half">
  <%= tag_filters ? "Tagged" : "with" %>
  <%= render "bubbles/filters/tags", bucket: bucket, tag_filters: tag_filters %>

  <% unless querying_unassigned_status? %>
    and <%= render "bubbles/filters/assignees", bucket: bucket, assignee_filters: assignee_filters %>
  <% end %>

  <%= render "bubbles/filters/bucket_view_form", bucket: bucket %>
</h2>
