<% @page_title = @bucket.name %>

<% content_for :header do %>
  <nav>
    <%= link_to buckets_path, class: "btn btn--plain flex-item-justify-start" do %>
      <%= image_tag "bubbles.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">All Buckets</span>
    <% end %>

    <header class="txt-align-center">
      <%= render "bubbles/filters", bucket: @bucket, tag: @tag, assignee: @assignee %>
    </header>

    <%= button_to bucket_bubbles_path(@bucket), method: :post, class: "btn btn--plain", form_class: "flex-item-justify-end" do %>
      <%= image_tag "bubble-add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Create a new bubble</span>
    <% end %>
  </nav>
<% end %>

<section class="windshield flex-inline flex-wrap gap justify-center align-end" style="view-transition-name: windshield_<%= @bucket.id %>">
  <% if @bubbles.ordered_by_activity.any? %>
    <%= render partial: "bubbles/bubble", collection: @bubbles.ordered_by_activity.limit(10) %>
  <% else %>
    <p><strong>Nothing here.</strong></p>
  <% end %>
</section>

<section class="bubbles-list unpad-inline center margin-block-start">
  <header class="flex-inline align-center gap txt-small margin-block-end-half center">
    <form class="flex-item-no-shrink">
      <%= search_field_tag :term, params[:term], class: "input center flex-inline", placeholder: "Type to filter…" %>
      <% bubble_filter_params.without(:term).each do |name, value| %>
        <%= hidden_field_tag name, value %>
      <% end %>
    </form>
  </header>

  <ul class="unpad margin-none flex flex-column txt-align-start center">
    <%= render partial: "bubbles/list/bubble", collection: @bubbles.ordered_by_activity %>
  </ul>
</section>
