<% @page_title = @bubble.title %>

<% content_for :header do %>
  <nav>
    <%= link_to bucket_bubbles_path(@bubble.bucket), class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">All Bubbles</span>
    <% end %>
  </nav>
<% end %>

<div class="bubble__perma flex justify-center center margin-block-end-double">
  <%= render "bubbles/bubble", bubble: @bubble %>
</div>

<section class="comments align-center center borderless margin flex flex-column gap-half" style="--bubble-color: <%= @bubble.color %>;">
  <%= render_comments_and_boosts(@bubble) %>
  <%= render "comments/new", bubble: @bubble %>
</section>

<section>
  <% if @bubble.popped? %>
    <%= button_to "Restore", bucket_bubble_pop_path(@bubble.bucket, @bubble), method: :delete, class: "btn" %>
  <% else %>
    <%= button_to "Pop", bucket_bubble_pop_path(@bubble.bucket, @bubble), class: "btn" %>
  <% end %>
</section>
